.cardContainer{
  background: url("../../images/mapamundi.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: scroll;
}

.titulo{
    color: rgb(255, 123, 0);
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(255, 255, 255);;
    padding: 5px;
    border-radius: 10px;
}

.filtersAndSorting{
  background-color: darkgoldenrod;
  border-radius: 30px;
  width: 20%;
  text-emphasis-color: aliceblue;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  height: 85%;
  justify-content: space-evenly;
  margin: 1rem 0 ;
}