html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
    background: url("../../images/mapamundi.jpg") no-repeat 50% 50%;
    position: fixed;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.full_inner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.titulo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    display: block;
    font-size: 47px;
    color: #9e7a03fa;
    -webkit-text-stroke: 2px black;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: -5%;


}

.btn{
    background: url("../../images/compass.png") no-repeat 50% 50%;
    background-size: contain;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3f0808fa;
    font-size: 10px;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 49%;
    cursor: pointer;
    position: absolute;
    outline: none;
    
    

}
