.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535353;
    background-size:auto;
}
.busqueda{
    margin-left: 50px;
}

.h1{
    text-align:center;
    font-size: 17px;
    color: #e0e0e0fa;
    margin-left: 10px;
}

.search {
    padding: 50;
    margin-right: 90px;

    
}

.btn{
    color: rgb(96, 96, 96);
    text-decoration: none;
    border: #0f0f0f solid 1px;
    padding: 5px;
    border-radius: 10px;    
    font-size: 21px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;

}

.to{
    color: #e0e0e0fa;
    text-decoration: none;
    border: #0f0f0f solid 1px;
    padding: 5px;
    border-radius: 10px;    
    font-size: 21px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}